qiskit>=2.0
qiskit-aer>=0.17
qiskit-ibm-runtime>=0.40
qiskit-ibm-transpiler>=0.16
torch>=2.0
gymnasium>=1.0
pymoo>=0.6
stable-baselines3>=2.0
sb3-contrib>=2.0
tqdm>=4.67
rich>=15.0
numpy>=2.0
scipy>=1.10
matplotlib>=3.8
pandas>=2.0
tensorboard>=2.15
optuna>=3.0
customtkinter>=5.2.0
pytest>=9.0
